.nav {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 80px; /*Distance*/
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
  letter-spacing: 1px;
  position: relative;
  opacity: 0.85;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.nav a:hover {
  opacity: 1;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: 0.35s;
  transform: translateX(-50%);
}

.nav a:hover::after {
  width: 100%;
}